@model COCOApp.Models.Supplier
@{
    ViewBag.Title = "View User Detail";
    Layout = "_LayoutStoreDashBoard";
    var currentPage = ViewData["PageNumber"] ?? 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

</head>
<body>
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Supplier/ViewList">Danh sách nhà cung cấp</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin nhà cung cấp</li>
            </ol>
        </nav>
        <form id="registerForm" action="" method="post">
            <div class="row">
                <div class="col">
                    <div>
                        <h4 class="mb-4">Thông tin nhà cung cấp</h4>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Name" class="required"> Tên nhà cung cấp</label>
                                <input asp-for="Name" class="form-control" placeholder="Nhập tên nhà cung cấp..." disabled />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Phone" class="required">Số điện thoại</label>
                                <input asp-for="Phone" class="form-control" placeholder="Nhập số điện thoại..." disabled />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Address" class="required">Địa chỉ</label>
                                <input asp-for="Address" class="form-control" placeholder="Nhập địa chỉ..." disabled />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Status" class="required">Trạng thái</label>
                                <select asp-for="Status" class="form-select" disabled>
                                    @if (Model.Status)
                                    {
                                        <option value="true" selected>Đã kích hoạt</option>
                                        <option value="false">Chưa kích hoạt</option>
                                    }
                                    else
                                    {
                                        <option value="true">Đã kích hoạt</option>
                                        <option value="false" selected>Chưa kích hoạt</option>
                                    }
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Note">Ghi chú</label>
                                <textarea asp-for="Note" class="form-control" placeholder="Nhập ghi chú ..." disabled>@Model.Note</textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="bg-light rounded h-100 p-4 text-center">
                        <a href="@Url.Action("ViewEdit", "Supplier", new { supplierId = Model.Id, pageNumber = currentPage })" class="btn btn-primary">Đến trang chỉnh sửa</a>
                        <a href="@Url.Action("ViewList", "Supplier", new { pageNumber = currentPage })" class="btn btn-danger">Quay lại</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Form End -->
    @section Scripts {
        <script>
            var pageNumber = @currentPage;
        </script>
    }
    <!-- Content End -->
</body>
</html>
