@model COCOApp.Models.User
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IHtmlHelper Html
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đổi mật khẩu</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
    <!-- Reset Password Start -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <form id="resetPasswordForm" asp-controller="User" asp-action="UpdatePassword" method="post">
                        <input type="text" name="id" class="form-control" value="@Model.Id" hidden>
                        <div class="bg-light rounded p-4 my-4 mx-3 shadow">
                            <div class="text-center mb-4">
                                <img src="~/img/logo.png" alt="Logo" width="100" height="100" class="d-block mx-auto">
                                <h3 class="text-primary mt-3">Đổi mật khẩu</h3>
                            </div>
                            <div class="mb-4 text-center">
                                <label>Vui lòng nhập mật khẩu mới</label>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Password" class="form-label required">Mật khẩu</label>
                                <div class="input-group" id="show_hide_password">
                                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu..." required>
                                    <button type="button" class="input-group-text toggle-password" data-target="#password">
                                        <i class="fas fa-eye-slash"></i>
                                    </button>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="error-message-password"></div>
                            </div>
                            <div class="mb-4">
                                <label for="confirmPassword" class="form-label required">Xác nhận mật khẩu</label>
                                <div class="input-group" id="show_hide_confirmPassword">
                                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Xác nhận mật khẩu..." required>
                                    <button type="button" class="input-group-text toggle-password" data-target="#confirmPassword">
                                        <i class="fas fa-eye-slash"></i>
                                    </button>
                                </div>
                                <div class="error-message-confirmPassword text-danger"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary py-3 w-100">Đổi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Reset Password End -->
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.toggle-password').on('click', function (event) {
                    event.preventDefault();
                    var input = $($(this).data('target'));
                    var icon = $(this).find('i');
                    if (input.attr("type") === "password") {
                        input.attr('type', 'text');
                        icon.removeClass("fa-eye-slash").addClass("fa-eye");
                    } else {
                        input.attr('type', 'password');
                        icon.removeClass("fa-eye").addClass("fa-eye-slash");
                    }
                });

                $('#resetPasswordForm').on('submit', function (event) {
                    var password = $('#password').val();
                    var confirmPassword = $('#confirmPassword').val();
                    if (password !== confirmPassword) {
                        event.preventDefault();
                        $('.error-message-confirmPassword').text('Mật khẩu không khớp').css('color', 'red');
                    } else {
                        $('.error-message-confirmPassword').text('');
                    }
                });
            });
        </script>
    }
</body>
</html>
