@model COCOApp.Models.ImportOrderItem
@{
    Layout = "_LayoutStoreDashBoard";
    var currentPage = ViewData["PageNumber"] ?? 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/import_order_item_detail.css">
</head>
<body>
<!-- Form Start -->
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/ImportOrder/ViewList">Danh sách đơn hàng nhập</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng nhập</li>
        </ol>
    </nav>
    <form id="registerForm" action="" method="post">
        <div class="row">
            <div class="col">
                <div>
                    <h4 class="mb-4">Thông tin đơn hàng nhập chi tiết </h4>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="Product.ProductName" class="required">Mặt hàng </label>
                            <input asp-for="Product.ProductName" class="form-control" placeholder="Nhập đơn vị tính..." disabled>
                            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="ProductCost" class="required"> Giá sản phẩm</label>
                            <input asp-for="ProductCost" class="form-control" placeholder="Nhập giá sản phẩm..." disabled>
                            <span asp-validation-for="ProductCost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="Volume" class="required"> Số lượng</label>
                            <input asp-for="Volume" class="form-control" placeholder="Nhập giá bán..." disabled>
                            <span asp-validation-for="Volume" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Total" class="required"> Tổng giá đơn hàng nhập</label>
                                <input asp-for="Total" class="form-control" placeholder="Nhập giá bán..." disabled>
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </div> *@
                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="RealVolume" class="required"> Số lượng nhập thực </label>
                            <input asp-for="RealVolume" class="form-control" placeholder="Nhập số lượng thực nhập..." disabled>
                            <span asp-validation-for="RealVolume" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="bg-light rounded h-100 p-4 text-center">
                    @if (!Model.Status)
                    {
                        <a href="@Url.Action("ViewEditOrderItem", "ImportOrder", new { orderId = Model.OrderId, productId = Model.ProductId, pageNumber = currentPage })" class="btn btn-primary">Đến trang chỉnh sửa</a>
                    }
                    <a href="@Url.Action("ViewOrderItemsList", "ImportOrder", new { pageNumber = currentPage })" class="btn btn-danger">Quay lại</a>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Form End -->
<!-- Content End -->

@section Scripts {
    <script>
            var pageNumber = @currentPage;
        </script>
}

</body>
</html>
